<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판/회원 연습</title>
</head>
<body>
    <header><h1>게시판/회원 연습</h1></header>
    <nav><ul>
        <li><a href="/views/static">Home</a></li>
        <li><a href="/member/join">회원가입</a></li>
        <li><a href="/member/login">로그인</a></li>
        <li><a href="/board/list">게시판</a></li>
        <li><a href="/member/myinfo"> 회원정보</a></li>
    </ul></nav>
    <main>
        <div><a href="/practice/css">연습장 - CSS</a></div>
    </main>
    <footer>
        <hr>
        <p>copyright &copy; 2024. dangdang. all rights reserved.</p>
    </footer>
</body>
</html>